<<<<<<< HEAD
.login {
  background-image: url("https://static.pexels.com/photos/5317/food-salad-restaurant-person.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: centered;
}

.login-form {
  margin: 20% auto;
}
=======
page-login {

}
>>>>>>> 5feca38c31545f699e689cfebe0236494cec8bac
